if SHIELD_CHARYBDIS_4X6_RIGHT

config ZMK_KEYBOARD_NAME
    default "BastardKB Charybdis 4x6"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_CHARYBDIS_4X6_LEFT || SHIELD_CHARYBDIS_4X6_RIGHT

config ZMK_SPLIT
    default y
config ZMK_SPLIT_SERIAL
    default y
config ZMK_SPLIT_SERIAL_UART
    default y
config ZMK_SPLIT_SERIAL_UART_POLL
    default n

endif
