#include <physical_layouts.dtsi>

/ {
    charybdis_4x6_layout: charybdis_4x6_layout {
        compatible = "zmk,physical-layout";
        display-name = "4x6 Layout";
        transform = <&charybdis_4x6_transform>;
        kscan = <&kscan0>;
    };
};
