if SHIELD_CHARYBDIS_MINI_RIGHT

config ZMK_KEYBOARD_NAME
    default "BastardKB Charybdis Mini"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_CHARYBDIS_MINI_LEFT || SHIELD_CHARYBDIS_MINI_RIGHT

config ZMK_SPLIT
    default y

endif
