#include <physical_layouts.dtsi>

/ {
    skeletyl_3x5_layout: skeletyl_3x5_layout {
        compatible = "zmk,physical-layout";
        display-name = "3x5 Layout";
        transform = <&skeletyl_3x5_transform>;
        kscan = <&kscan0>;

        keys  //                     w   h    x    y     rot    rx    ry
            = <&key_physical_attrs 100 100    0   75       0     0     0>
            , <&key_physical_attrs 100 100  100   12       0     0     0>
            , <&key_physical_attrs 100 100  200    0       0     0     0>
            , <&key_physical_attrs 100 100  300   18       0     0     0>
            , <&key_physical_attrs 100 100  400   18       0     0     0>
            , <&key_physical_attrs 100 100  768   18       0     0     0>
            , <&key_physical_attrs 100 100  868   18       0     0     0>
            , <&key_physical_attrs 100 100  968    0       0     0     0>
            , <&key_physical_attrs 100 100 1068   12       0     0     0>
            , <&key_physical_attrs 100 100 1168   75       0     0     0>
            , <&key_physical_attrs 100 100    0  175       0     0     0>
            , <&key_physical_attrs 100 100  100  112       0     0     0>
            , <&key_physical_attrs 100 100  200  100       0     0     0>
            , <&key_physical_attrs 100 100  300  118       0     0     0>
            , <&key_physical_attrs 100 100  400  118       0     0     0>
            , <&key_physical_attrs 100 100  768  118       0     0     0>
            , <&key_physical_attrs 100 100  868  118       0     0     0>
            , <&key_physical_attrs 100 100  968  100       0     0     0>
            , <&key_physical_attrs 100 100 1068  112       0     0     0>
            , <&key_physical_attrs 100 100 1168  175       0     0     0>
            , <&key_physical_attrs 100 100    0  275       0     0     0>
            , <&key_physical_attrs 100 100  100  212       0     0     0>
            , <&key_physical_attrs 100 100  200  200       0     0     0>
            , <&key_physical_attrs 100 100  300  218       0     0     0>
            , <&key_physical_attrs 100 100  400  218       0     0     0>
            , <&key_physical_attrs 100 100  768  218       0     0     0>
            , <&key_physical_attrs 100 100  868  218       0     0     0>
            , <&key_physical_attrs 100 100  968  200       0     0     0>
            , <&key_physical_attrs 100 100 1068  212       0     0     0>
            , <&key_physical_attrs 100 100 1168  275       0     0     0>
            , <&key_physical_attrs 100 100  271  329    1500   321   379>
            , <&key_physical_attrs 100 100  371  366    2500   421   416>
            , <&key_physical_attrs 100 100  468  428    4100   518   478>
            , <&key_physical_attrs 100 100  700  428 (-4100)   750   478>
            , <&key_physical_attrs 100 100  797  366 (-2500)   847   416>
            , <&key_physical_attrs 100 100  898  329 (-1500)   948   379>
            ;
    };
};
